<div class="header animate__animated animate__fadeInRight">
  <h1>Contato</h1>
</div>

<ion-content class="animate__animated animate__fadeInRight">

  <div class="perfil">
    <img src="../../assets/perfil/perfil.png" alt="Foto de Peril">
  </div>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Whatsapp</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Entre em contato comigo via Whatsapp (11) 99327-9957.
      <div class="btn-whatsapp">
        <ion-button shape="round" href="https://api.whatsapp.com/send?phone=5511993279957&">
          Whatsapp
          <ion-icon name="logo-whatsapp" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Instagram</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Entre em contato comigo pelo instagram @firminomc.
      <div class="btn-instagram">
        <ion-button shape="round" href="https://www.instagram.com/firminomc/">
          Instagram
          <ion-icon name="logo-instagram" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>GitHub</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Conheça meu GitHub.
      <div class="btn-git">
        <ion-button shape="round" href="https://github.com/WillianSousaAz">
          GitHub
          <ion-icon name="logo-github" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>