<div class="header animate__animated animate__fadeInRight">
  <h1>Certificados</h1>
</div>

<ion-content class="animate__animated animate__fadeInRight">
  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/certificados/certficado_ionic.jpg" />
    <ion-card-header>
      <ion-card-title>Desenvolvimento com Ionic</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Certificado por concluir o curso de desenvolvimento Mobile com Ionic.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Cursos em Andamento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Alguns outros cursos se encontram em Andamento.
    </ion-card-content>
  </ion-card>
</ion-content>
