<div class="header animate__animated animate__fadeInRight">
  <h1>Trabalhos</h1>
</div>

<ion-content class="animate__animated animate__fadeInRight">
  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/trabalhos/trabalho1.png" />
    <ion-card-header>
      <ion-card-title>SocialPet</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Site criado para facilitar a adoção e doação de Pets, criado inteiramente com PHP, HTML, JS e CSS
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/trabalhos/trabalho2.png" />
    <ion-card-header>
      <ion-card-title>Pneus Ideal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Site criado para a empresa Belem Pneus via Wix por preferencia do cliente.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/trabalhos/trabalho3.png" />
    <ion-card-header>
      <ion-card-title>Belem Pneus</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sou atualmente o responsavel pelo site, tratando de novas medidas visuais e novas funcionalidades.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/trabalhos/trabalho4.png" />
    <ion-card-header>
      <ion-card-title>Belem Recapagem</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Site criado para a empresa Belem Pneus via Wix por preferencia do cliente.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img alt="Silhouette of mountains" src="../../assets/trabalhos/trabalho5.png" />
    <ion-card-header>
      <ion-card-title>Belem Auto Peças</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Site criado para a empresa Belem Pneus via Wix por preferencia do cliente.
    </ion-card-content>
  </ion-card>
</ion-content>
