<ion-tabs>
  
  <ion-tab-bar slot="bottom" class="padding-div">
    <ion-tab-button tab="tab1">
      <i class="fa-solid fa-user"></i>
      <ion-label>Sobre mim</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="fa-solid fa-certificate"></i>
      <ion-label>Certificados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i class="fa-solid fa-code"></i>
      <ion-label>Trabalhos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <i class="fa-solid fa-address-book"></i>
      <ion-label>Contato</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
