<div class="header animate__animated animate__fadeInRight">
  <h1>Quem Sou ?</h1>
</div>

<ion-content class="animate__animated animate__fadeInRight">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Sobre Mim</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Me chamo Willian de Sousa, sou um estudante apaixonado por tecnologia
      des dos 18 Anos, Nascido e criado em São Paulo, Brasil
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Conhecimentos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Possuo amplo conhecimento na area de Desenvolvimento de sistemas,
      tanto back-end quanto front-end, Desenvolvo sistemas para Web, Android e IOS.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Linguagens</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Minha principal linguagem para back-end é PHP porem possuo
      experiencia em algumas outras como NodeJS e Typescript, Banco de Dados utilizo sempre o MySQL ou MariaDB e para front-end utilizo
      todos os metodos Web com um amplo conhecimento em CSS para estilização.
    </ion-card-content>
  </ion-card>
</ion-content>
